<div class="row marketing">
    <div class="main">
        <div class="date"> 
            <h1 class="date">
                TODAY  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="CurrentDate"></span>
            </h1>
            <h2 class="date"> <span id="CurrentTime"></span></h2>
        </div>

        <div class="script">
            <!--        <h3>My Verse</h3>	-->
            <p class="quote"><span id="CurrentVerse"></span></p>
            <p class="refT"><span id="CurrentVerseRefTag"></span></p>

            <p class="quote2"><span id="CurrentVerse2"></span></p>
            <p class="refT2"><span id="CurrentVerseRefTag2"></span></p>
        </div>
    </div>
</div>
